In [1]:
import pandas as pd
import os
import numpy as np
os.getcwd()

'C:\\Users\\Xander\\Documents\\Thesis\\Model_Xander\\pv_data\\neerslaggegevens'

In [2]:
#FOR NEERSLAGGEGEVENS ONLY
col_specs = [(0, 21), (21, 41), (41, 89), (89, 109), (109, 129), (129, 149), (149, 169), (169, 189), (189, 209), (209, 229), (229, 249)]

header = 14
file_name = 'kis_tor_'

df = pd.read_fwf(file_name + '20150131', colspecs = col_specs,
                 header = header, parse_dates = True, index_col = '# DTG')
print(len(df))
print(df.isna().sum())
print(df['NAME'].unique())
print(df.columns)

174096
LOCATION            0
NAME                0
LATITUDE            0
LONGITUDE           0
ALTITUDE            0
DR_PWS_10       78146
DR_REGENM_10    25125
WW_COR_10       67536
RI_PWS_10       80321
RI_REGENM_10    21105
dtype: int64
['Voorschoten' 'De Kooy waarneemterrein' 'Schiphol locatie 18Ct'
 'Vlieland locatie A' 'Berkhout' 'Hoorn Terschelling' 'Wijk aan Zee'
 'De Bilt locatie A' 'De Bilt testlocatie A' 'Stavoren'
 'Lelystad locatie 23t' 'Leeuwarden locatie A' 'Leeuwarden locatie obs24t'
 'Marknesse' 'Deelen locatie A' 'Deelen locatie obs02t' 'Lauwersoog'
 'Heino' 'Hoogeveen' 'Eelde locatie 23t' 'Hupsel' 'Nieuw Beerta'
 'Twenthe locatie A' 'Twenthe locatie 24t' 'Vlissingen' 'Westdorpe'
 'Wilhelminadorp' 'Hoek van Holland' 'Woensdrecht locatie A'
 'Rotterdam locatie 24t' 'Cabauw locatie A' 'Gilze-Rijen locatie 10t'
 'Herwijnen' 'Eindhoven locatie A' 'Eindhoven locatie obs22t'
 'Volkel locatie A' 'Volkel locatie obs24Rt' 'Ell'
 'Maastricht locatie 22t' 'Arcen' 'Bonaire']
Index(['LOCATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ALTITUDE', 'DR_PWS_10',
       'DR_REGENM_10', 'WW_COR_10', 'RI_PWS_10', 'RI_REGENM_10'],
      dtype='object')

In [5]:
name = 'De Bilt locatie A'

test = df.loc[df['NAME'] == name]
test = test.drop(labels = ['NAME', 'LOCATION'], axis = 1)
print(len(test))
test.isna().sum()

4464

LATITUDE          0
LONGITUDE         0
ALTITUDE          0
DR_PWS_10       215
DR_REGENM_10    201
WW_COR_10       207
RI_PWS_10       215
RI_REGENM_10    201
dtype: int64

In [6]:
#FOR vochtigheid&temperatuur ONLY
list_of_files = os.listdir(os.getcwd()) #list of files in the current directory
all_data = pd.DataFrame()
list_of_files = os.listdir(os.getcwd()) #list of files in the current directory
for each_file in list_of_files:
    if each_file.startswith(file_name):  #since its all type str you can simply use startswith
        print (each_file)
        df = pd.read_fwf(each_file, colspecs = col_specs,
                         header = header, parse_dates = True, index_col = '# DTG')
        debilt = df.loc[df['NAME'] == name]
        debilt = debilt.drop(labels = ['NAME', 'LOCATION'], axis = 1)
        all_data = all_data.append(debilt)
all_data.to_csv('2015-2017_neerslaggegevens_debilt_locatie_A.csv', sep=',')

kis_tor_20150131
kis_tor_20150228
kis_tor_20150331
kis_tor_20150430
kis_tor_20150531
kis_tor_20150630
kis_tor_20150731
kis_tor_20150831
kis_tor_20150930
kis_tor_20151031
kis_tor_20151130
kis_tor_20151231
kis_tor_20160131
kis_tor_20160229
kis_tor_20160331
kis_tor_20160430
kis_tor_20160531
kis_tor_20160630
kis_tor_20160731
kis_tor_20160831
kis_tor_20160930
kis_tor_20161031
kis_tor_20161130
kis_tor_20161231
kis_tor_20170131
kis_tor_20170228
kis_tor_20170331
kis_tor_20170430
kis_tor_20170531
kis_tor_20170630
kis_tor_20170731
kis_tor_20170831
kis_tor_20170930
kis_tor_20171031
kis_tor_20171130
kis_tor_20171231

In [7]:
print(len(all_data))
print(all_data.isna().sum())
print(all_data.columns)
print(all_data)
print(all_data.dtypes)

156672
LATITUDE          0
LONGITUDE         0
ALTITUDE          0
DR_PWS_10       796
DR_REGENM_10    849
WW_COR_10       884
RI_PWS_10       933
RI_REGENM_10    849
dtype: int64
Index(['LATITUDE', 'LONGITUDE', 'ALTITUDE', 'DR_PWS_10', 'DR_REGENM_10',
       'WW_COR_10', 'RI_PWS_10', 'RI_REGENM_10'],
      dtype='object')
                      LATITUDE  LONGITUDE  ALTITUDE  DR_PWS_10  DR_REGENM_10  \
# DTG
2015-01-01 00:10:00  52.098889   5.179722       1.9        0.0           0.0
2015-01-01 00:20:00  52.098889   5.179722       1.9        0.0           0.0
2015-01-01 00:30:00  52.098889   5.179722       1.9        0.0           0.0
2015-01-01 00:40:00  52.098889   5.179722       1.9        0.0           0.0
2015-01-01 00:50:00  52.098889   5.179722       1.9        0.0           0.0
...                        ...        ...       ...        ...           ...
2017-12-31 23:20:00  52.098889   5.179722       1.9        0.0           0.0
2017-12-31 23:30:00  52.098889   5.179722       1.9        0.0           0.0
2017-12-31 23:40:00  52.098889   5.179722       1.9        0.0           0.0
2017-12-31 23:50:00  52.098889   5.179722       1.9        0.0           0.0
2018-01-01 00:00:00  52.098889   5.179722       1.9        0.0           0.0

                     WW_COR_10  RI_PWS_10  RI_REGENM_10
# DTG
2015-01-01 00:10:00        0.0        0.0           0.0
2015-01-01 00:20:00        0.0        0.0           0.0
2015-01-01 00:30:00        0.0        0.0           0.0
2015-01-01 00:40:00        0.0        0.0           0.0
2015-01-01 00:50:00        0.0        0.0           0.0
...                        ...        ...           ...
2017-12-31 23:20:00        0.0        0.0           0.0
2017-12-31 23:30:00        0.0        0.0           0.0
2017-12-31 23:40:00        0.0        0.0           0.0
2017-12-31 23:50:00        0.0        0.0           0.0
2018-01-01 00:00:00        0.0        0.0           0.0

[156672 rows x 8 columns]
LATITUDE        float64
LONGITUDE       float64
ALTITUDE        float64
DR_PWS_10       float64
DR_REGENM_10    float64
WW_COR_10       float64
RI_PWS_10       float64
RI_REGENM_10    float64
dtype: object